<h1>Editing Admin</h1>

<%= render 'form' %>

<p class="btn btn-default" role="button"><%= link_to 'Show', @admin %></p>
<p class="btn btn-default" role="button"><%= link_to 'Back', admins_path %></p>
